<?xml version="1.0" encoding="utf-8"?>
<THSpriteSheetData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <mPow2>true</mPow2>
  <mShrinkWrap>false</mShrinkWrap>
  <mSquare>false</mSquare>
  <mPadding>2</mPadding>
  <mMaxWidth>1024</mMaxWidth>
  <mMaxHeight>1024</mMaxHeight>
  <mFileName>SpringBoard.xml</mFileName>
  <mTextureExt>PNG</mTextureExt>
  <THColorSchemeData mName="Default">
    <THReplaceColorData>
      <mEnable>false</mEnable>
      <mOrigColor>
        <B>255</B>
        <G>255</G>
        <R>255</R>
        <A>255</A>
        <PackedValue>4294967295</PackedValue>
      </mOrigColor>
      <mReplaceColor>
        <B>255</B>
        <G>255</G>
        <R>255</R>
        <A>255</A>
        <PackedValue>4294967295</PackedValue>
      </mReplaceColor>
    </THReplaceColorData>
    <THReplaceColorData>
      <mEnable>false</mEnable>
      <mOrigColor>
        <B>255</B>
        <G>255</G>
        <R>255</R>
        <A>255</A>
        <PackedValue>4294967295</PackedValue>
      </mOrigColor>
      <mReplaceColor>
        <B>255</B>
        <G>255</G>
        <R>255</R>
        <A>255</A>
        <PackedValue>4294967295</PackedValue>
      </mReplaceColor>
    </THReplaceColorData>
    <THReplaceColorData>
      <mEnable>false</mEnable>
      <mOrigColor>
        <B>255</B>
        <G>255</G>
        <R>255</R>
        <A>255</A>
        <PackedValue>4294967295</PackedValue>
      </mOrigColor>
      <mReplaceColor>
        <B>255</B>
        <G>255</G>
        <R>255</R>
        <A>255</A>
        <PackedValue>4294967295</PackedValue>
      </mReplaceColor>
    </THReplaceColorData>
    <THReplaceColorData>
      <mEnable>false</mEnable>
      <mOrigColor>
        <B>255</B>
        <G>255</G>
        <R>255</R>
        <A>255</A>
        <PackedValue>4294967295</PackedValue>
      </mOrigColor>
      <mReplaceColor>
        <B>255</B>
        <G>255</G>
        <R>255</R>
        <A>255</A>
        <PackedValue>4294967295</PackedValue>
      </mReplaceColor>
    </THReplaceColorData>
    <mHue>0</mHue>
    <mSaturation>0</mSaturation>
    <mValue>0</mValue>
  </THColorSchemeData>
  <mSpriteData mTextureName="SpringBoardTexture">
    <THSpriteAnimationData mName="BarrelIdle" mIsLooping="false" mScaleX="2" mScaleY="2" mRenderType="Alpha">
      <mCSVName>..\Enemies\Springboard\Output\BarrelIdle.csv</mCSVName>
      <mCollisionList />
      <THFrameData mWidth="30" mHeight="40" mDelay="62" mOriginX="15" mOriginY="40" mU="108" mV="48" mUVWidth="30" mUVHeight="40" mCropX="0" mCropY="0" mSourceImageName="..\Enemies\Springboard\Output\BarrelIdle0000.png" mFrameFlags="NONE" />
      <mUseHurtbox>false</mUseHurtbox>
      <mUseHitbox>false</mUseHitbox>
    </THSpriteAnimationData>
    <THSpriteAnimationData mName="BarrelPuff" mIsLooping="false" mScaleX="2" mScaleY="2" mRenderType="Alpha">
      <mCSVName>..\Enemies\Springboard\Output\BarrelPuff.csv</mCSVName>
      <mCollisionList />
      <THFrameData mWidth="52" mHeight="46" mDelay="8" mOriginX="26" mOriginY="46" mU="0" mV="0" mUVWidth="52" mUVHeight="46" mCropX="0" mCropY="0" mSourceImageName="..\Enemies\Springboard\Output\BarrelPuff0000.png" mFrameFlags="NONE" />
      <THFrameData mWidth="52" mHeight="46" mDelay="8" mOriginX="26" mOriginY="46" mU="54" mV="0" mUVWidth="52" mUVHeight="46" mCropX="0" mCropY="0" mSourceImageName="..\Enemies\Springboard\Output\BarrelPuff0001.png" mFrameFlags="NONE" />
      <THFrameData mWidth="52" mHeight="46" mDelay="8" mOriginX="26" mOriginY="46" mU="0" mV="48" mUVWidth="52" mUVHeight="46" mCropX="0" mCropY="0" mSourceImageName="..\Enemies\Springboard\Output\BarrelPuff0002.png" mFrameFlags="NONE" />
      <THFrameData mWidth="52" mHeight="46" mDelay="8" mOriginX="26" mOriginY="46" mU="54" mV="48" mUVWidth="52" mUVHeight="46" mCropX="0" mCropY="0" mSourceImageName="..\Enemies\Springboard\Output\BarrelPuff0003.png" mFrameFlags="NONE" />
      <THFrameData mWidth="52" mHeight="46" mDelay="8" mOriginX="26" mOriginY="46" mU="108" mV="0" mUVWidth="52" mUVHeight="46" mCropX="0" mCropY="0" mSourceImageName="..\Enemies\Springboard\Output\BarrelPuff0004.png" mFrameFlags="NONE" />
      <mUseHurtbox>false</mUseHurtbox>
      <mUseHitbox>false</mUseHitbox>
    </THSpriteAnimationData>
    <THSpriteAnimationData mName="Piston" mIsLooping="false" mScaleX="2" mScaleY="2" mRenderType="Alpha">
      <mCSVName>..\Enemies\Springboard\Output\Piston.csv</mCSVName>
      <mCollisionList>
        <THSpriteCollisionData mName="Collision0" mType="RECTANGLE" mX="-12" mY="-8" mWidth="24" mHeight="8" mRadius="8" mColFlags="5" />
      </mCollisionList>
      <THFrameData mWidth="24" mHeight="48" mDelay="62" mOriginX="12" mOriginY="8" mU="162" mV="0" mUVWidth="24" mUVHeight="48" mCropX="0" mCropY="0" mSourceImageName="..\Enemies\Springboard\Output\Piston0000.png" mFrameFlags="NONE" />
      <mUseHurtbox>false</mUseHurtbox>
      <mUseHitbox>false</mUseHitbox>
    </THSpriteAnimationData>
  </mSpriteData>
</THSpriteSheetData>